:root{
    --primary: #516eff;
    --lightpriary: #0056b3;
    --white: #ffffff;
    --silver: #bcbcbc9e;
    --defaultLinkColor: #333;
    --yellow: #FFD700;
    --muted: #777777;
    --whiteBG: #F8FAFC;
    --footerBG: #216583;
    scroll-behavior: smooth;
}

.toggle_menu {
    display: none;
}
@media (max-width:720px){
    #header .menu{
        display: none;
    }
    #header #nav-bar img{
        width: 90px;
        height: 28px;
        display: flex;
        margin: auto 0;
    }
#header .toggle_menu {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

}
#header .toggle_menu::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 25px;
    background-color: var(--primary);
    border-radius: 15px;
    box-shadow: blue 0 8px 0;
    transform: translateY(-10px);
    transition: 0.5s;
}
#header .toggle_menu::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 25px;
    background-color: var(--primary);
    border-radius: 15px;
    transform: translateY(6px);
    transition: 0.5s;
}
#header .toggle_menu.active::before{
    transform: translateY(0) rotate(135deg);
    box-shadow: 0 0 0 var(--primary);
}
#header .toggle_menu.active::after{
    transform: translateY(0) rotate(-135deg);
}
#header .menu.responsive {
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: var(--whiteBG);
    flex-direction: column;
}
#header .menu a {
    padding: 8px;
}
#header .menu button {
    padding: 5px 15px;
    margin-bottom: 20px;
}
#home .contener {
    display: flex;
    flex-direction: column;
    width: 80%;
}
#home .div-left h1 {
    font-size: 5vw;

}
#home .div-left button {
    margin: 10px auto 20px auto;
}
#home .contener img {
    margin-top: 10px;
    width: 100%;
}
#services .div-blue {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary);
}
#services .div-blue .left {
    font-size: 4.2vw;
}
#services .div-blue .right {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#services .div-blue .right div  {
    width: 250px;
    height: 300px;
}
#services .div-blue .right div img {
    width: 80px;
    height: 80px;
}
#services .image-doctor {
    display: none;
}
#services .chield {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
#services .chield .title {
    text-align: left;
    margin: 0 0 10px 0;
    font-weight: bold;
}
#about-us .contener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#history .or-history {
    display: flex;
    flex-direction: column;
}
#history .or-history img {
    width: 100%;
    margin-bottom: 20px;
}
#history .or-history div {
    width: 100%;
    padding: 15px;
}
#meet-doctor .doctors {
    display: flex;
    flex-direction: column;
}

#meet-doctor .doctors div {
    line-height: 1.5;
    margin: 10px;
    padding: 0 30px 20px 30px;
}
#meet-doctor .doctors div img {
    width: 120px;
}
#register .contener img {
    display: none;
}
#register .contener form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#register .contener form label {
    display: none;
}
#register .contener form :is(input,select) {
    width: 80%;
}
#register .contener form div {
    width: 100%;
}
#register .contener form div select{
    width: 40px;
    left: 60px;
}
#register .contener form input[type="tel"] {
    width: 80%;
}
#register form textarea {
    width: 80%;
    margin: 0;
} 
#register .contener form .div-checkbox {
    width: 80%;
    justify-content: flex-start;
    padding: 0;
    padding: 0 5px;
}
#register form .div-checkbox input[type="checkbox"] {
    width: 15px;
}
#register form .div-checkbox label {
    display: flex;
    font-size: 2vw;
}
#register .contener form input[type="submit"] {
    width: 80%;
}
#subscribes .subscribe  h2 {
    font-size: 6vw;
    text-align: center;
}
#subscribes form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 80%;
}
#subscribes .subscribe form input {
    width: 100%;
    padding: 8px;
    margin: 15px 0;
}
#subscribes .subscribe form input[type="submit"]{
    padding: 8px;
    font-size: 2.5vw;
}
#informations .information {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
#informations .information div {
    width: 80%;
    font-size: 2vw;
    border: none;
    line-height: 1.8;
}

#informations .information .logo-dentic img {
    width: 18vw;
    margin-top: 0;
}
#informations .information .welcomming h5 {
    font-size: 3.5vw;
    margin: 5px;
}
#informations .information .important-link{
    gap: 5px 20px;
}
#informations .information .inportant-link h4 {
    font-size: 2vw;
}

#informations .information .address h4 {
    font-size: 3vw;
    margin-bottom: 5px;
    margin-top: 15px;
}
#informations .information .address h5 {
    margin-bottom: 5px;
    font-size: 2vw;
    font-weight: normal;
}
footer {
    font-size: 3vw;
}



#signup form {
    display: flex;
    width: 90%;
    padding: auto 15px;
}
#signup form div {
    display: flex;
    flex-direction: column;
    width: 60%;
}
#signup form div input {
    width: 100%;
}
#signup form input[type="submit"]{
    width: 60%;
}


#login form {
    width: 80%;
}
#login form .img-row  {
    display: flex;
    width: 100%;
}
#signup form .img-row  {
    display: flex;
    width: 100%;

}
#signup .signup-login {
    width: 70%;
    display: flex;
  position: relative;

  height: 50px;

}
#signup .signup-login .connect {
    width: 30px;
    font-size: 25px;
    font-weight: bold;
    bottom: 0;
    text-decoration: none;
    position: absolute;
    right: 10px;
    color: var(--primary);


}
}